
.input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  margin: 0.8rem 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
